!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title Foody
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render partial: 'shared/navigation'
      = render partial: 'boxes/slider'
    %section.container
      - %i(welcome address menu checkout contact).each do |boxname|
        %a.jump-anchor{ id: "#{boxname}_anchor" }
          &nbsp;
        = render partial: "boxes/#{boxname}"
      = yield
    %footer
      = render partial: 'shared/footer'
