.modal-dialog
  .modal-content
    = bootstrap_nested_form_for order, url: {controller: 'orders', action: 'update'}, data: { shadow_input: true } do |f|
      .modal-header
        %button{type: 'button', class: 'close', aria: { label:'Close' }, data: { dismiss:'modal'} }
          %span.red{ aria: { hidden: 'true' } } &times;
        %h3.modal-title.red
          Bestellen
      .modal-body.grey_if_no_order
        .col-xs-offset-2.col-xs-8#orders_closed
          %h4.red
            %b Online-Bestellung aktuell geschlossen.
        = f.hidden_field :delivery_type, value: ''
        .modal_container.background_container
          .red Bitte auswählen:
          .row
            .col-sm-6.col-xs-12.set_active.grey_if_delivery
              %p.text-center
                %button.btn.btn-default.btn-lg{ type: 'button', id: 'pickup_button', data: { value: 'pickup'} } Selbstabholer
              .postal_modal_content
                %p
                  Unsere Öffnungszeiten:
                %p
                  Mo - Fr
                  %b 12 - 15 Uhr
                  und
                  %b 18 - 22 Uhr
                %p
                  Sa - So
                  %b 18 - 22 Uhr
                %p
                  Unser Lokal befindet sich in der Schönhauser Allee 156 (U2 Eberswalder Straße, Tram M1, M12) in unmittelbarer Nähe zur Kulturbrauerei.
              .row
                .col-sm-12.col-xs-12
                  #requested_pickup
                    = render partial: 'shared/delivery_hours', locals: { f: f, hour_type: hour_type, delivery_values: delivery_values, delivery_type: :pickup }
            .col-sm-6.col-xs-12.set_active.grey_if_pickup
              %p.text-center
                %button.btn.btn-default.btn-lg{ type: 'button', id: 'delivery_button', data: { value: 'delivery'} } Lieferservice
              .postal_modal_content
                %p Unsere Lieferzeiten:
                %p
                  täglich
                  %b 18 - 22 Uhr
                %p Wir liefern innerhalb Berlins an folgende PLZ (bitte auswählen):
                %p
                  = f.fields_for :delivery_address do |daf|
                    = daf.select :postal, nil, skip_label: true do
                      = content_tag(:option, '')
                      - postals.each do |postal|
                        = content_tag(:option, postal, value: postal )
                %p Die Lieferkosten betragen 2 €.
              .row
                .col-sm-12.col-xs-12
                  #requested_delivery
                    = render partial: 'shared/delivery_hours', locals: { f: f, hour_type: hour_type,delivery_values: delivery_values, delivery_type: :delivery }
      .modal-footer
        .row
          .col-sm-12
            = link_to 'Weiter zur Bestellung', order_path, class: 'btn btn-primary postal_button disabled', disabled: 'disabled'
