.row
  .col-sm-6
    %p
      %b Extras
      (je #{number_to_currency(food.extras.for_size(price.size).first.extra_price(price) / 100.0, unit: '€')})
  .col-sm-6.text-right
    %b.text-alert.hidden.extras_warning
      Maximal 5 Extras
%ul.extras_list.list-unstyled
  = collection_check_boxes :extras, :extra_ids, food.extras.for_size(price.size), :id, :name do |cb|
    %li.nowrap
      .checkbox
        = cb.label for: nil do
          = cb.check_box checked: chosen_extras && chosen_extras.include?(cb.object),
            data: { extra_price: "#{cb.object.extra_price(price)}" }
          = cb.text
