#submitted_orders
  %form{ method: :post, action: backend_settings_set_path, autocomplete: :off, data: { shadow_input: true } }
    %p.text-muted.text-right
      Bestellungen:
      - if Settings.orders_open == 'closed'
        %i.fa.fa-warning.fa-fw
      - else
        %i.fa.fa-check.fa-fw.text-success
      %select{ name: 'settings[orders_open]' }
        %option{ value: :closed, selected: Settings.orders_open == 'closed' }
          Geschlossen
        %option{ value: :open, selected: Settings.orders_open == 'open' }
          Offen
  %p.text-muted.text-right
    Aktualisiert: #{l Time.zone.now, format: '%d.%m.%Y %H:%M:%S'}
  %h2
    Neue Bestellungen (#{orders.count})
  - unless orders.any?
    - if orders_open?
      Keine neuen Bestellungen
    - else
      .alert.alert-danger
        Online-Bestellung ist geschlossen
    %hr
  - orders.each do |order|
    = form_for order, url: backend_order_path(order), autocomplete: :off, data: { shadow_input: true } do |f|
      %p
        \##{order.order_number} vom #{l order.submitted_at}
      .row
        .col-sm-10
          .row
            .col-sm-4
              .row
                .col-sm-4
                  = render 'order_icons', order: order
                .col-sm-8
                  = simple_format(order.customer_info)
            .col-sm-4
              %b= simple_format(order.order_items_info)
              - unless order.customer_comment.blank?
                Nachricht vom Kunden:
                .text-danger
                  = simple_format(order.customer_comment)
            .col-sm-4
              = simple_format(order.transaction_info)
        .col-sm-2
          - if order.requested_delivery_at
            %p
              Gewünschte Zeit:
              %b= l order.requested_delivery_at
              wird fertig zu ...
            - [0, 15, 30, 45, 60, 90].each do |time|
              - time_offset = TimeDifference.between(order.requested_delivery_at, Time.zone.now).in_minutes.round + time
              %p
                = f.button :confirm!, type: :button, value: time_offset,
                  class: 'btn btn-success ladda-button',
                  data: { style: 'expand-left' },
                  name: f.object_name + '[confirm!]' do
                  #{l order.requested_delivery_at + time.minutes, format: 'ca %H:%M Uhr'}
          - else
            %p
              So schnell wie möglich! Bestellung fertig in ...
            - [15, 30, 45, 60, 90].each do |time|
              %p
                = f.button :confirm!, type: :button, value: time,
                  class: 'btn btn-success ladda-button',
                  data: { style: 'expand-left' },
                  name: f.object_name + '[confirm!]' do
                  #{time} Minuten
          %p
            = f.button :cancel!, type: :button, value: 1,
              class: 'btn btn-danger ladda-button',
              data: { style: 'expand-left' },
              name: f.object_name + '[cancel!]' do
              Stornieren
    %hr
