- unless category.nil?
  - category.each do |food|
    %br
    .row
      .col-md-3
        .thumbnail
          = image_tag "#{food.thumbnail.url(:thumb)}"
      .col-md-9
        %h4
          = food.order_number
          %b
            = food.name
        %p
          = food.description
        .row
          .col-md-6
            - food.prices.each do |price|
              .row
                .col-md-12.nowrap
                  = number_to_currency(price.value.to_f/100, locale: :eu, separator: '.') + " (#{price.size})"
          .col-md-6
            = content_tag('button', type: 'button', class: 'btn btn-danger nav-button show_postal pull-right' ) do
              = 'Bestellen'
    = content_tag('hr') unless food == category.last
