- unless groups.nil?
  - groups.each do |drinks|
    %br
    .row
      .col-md-3
        .thumbnail
          = image_tag "#{drinks.first.thumbnail.url(:thumb)}"
      .col-md-9
        %h4
          %b= drinks.first.group
        %p
          Sorten:
          - drinks.each do |drink|
            = drink.name + ',' unless drink == drinks.last
            = drink.name if drink == drinks.last
        .row
          .col-md-6
            = number_to_currency(drinks.first.prices.first.value.to_f/100, locale: :eu, separator: '.')
          .col-md-6
            = content_tag('button', type: 'button', class: 'btn btn-primary nav-button show_postal pull-right') do
              = 'Bestellen'
    = content_tag('hr') unless drinks == drinks.last
