- unless groups.nil?
  - groups.each do |drinks|
    %br
    .row
      .col-sm-3.col-xs-12
        .thumbnail
          = image_tag "#{drinks.first.thumbnail.url(:thumb)}"
      .col-sm-9.col-xs-12
        = form_tag '/order_items', remote: true, class: 'new_order_item' do
          %h4
            %b= drinks.first.group
          .row
            .col-lg-8.col-sm-12
              %p.food_description
                - unless drinks.length < 2
                  %select{ class: 'form-control', name:'price_id' }
                    - drinks.each do |drink|
                      = content_tag(:option, drink.order_number + ' ' + drink.name + ' ' + drink.prices.first.size, value: drink.prices.first.id, data: { unit_price: drink.prices.first.value } )
                - else
                  = drinks.first.order_number + ' ' + drinks.first.name + ' ' + drinks.first.prices.first.size

          .row
            .col-lg-4.col-md-6.col-sm-6.col-xs-6
              .display_price
                = number_to_currency(drinks.first.prices.first.value.to_f/100, locale: :eu, separator: '.')
            .col-lg-4.col-md-6.col-sm-6.col-xs-6
              .change_quantity{ data: { plus_minus_input: true } }<
                = submit_tag "-", type: 'button', class: 'btn btn-default'
                = text_field_tag 'order_item[quantity]', 'order_item[quantity]', class: 'form-control form-control-center', readonly: 'readonly', value: 1
                = submit_tag "+", type: 'button', class: 'btn btn-default'
            .col-lg-4.col-md-6.col-sm-6.col-xs-6.pull-right
              %button{type:'submit', class: 'btn btn-xs btn-primary add_to_cart'}
                %h6 In Warenkorb
    = content_tag('hr') unless drinks == groups.last
