%section.navbar-fixed-top
  %section#topline
    .container
      .row
        .col-sm-5.col-sm-offset-1
          .row
            .col-sm-1
              %i.fa.fa-phone
            .col-sm-11
              030 / 983 282 81
        .col-sm-5
          .row
            .col-sm-1
              %i.fa.fa-home
            .col-sm-11
              Schönhauser Allee 156, 10435 Berlin
  %section#navigation
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container
        .row
          .col-sm-5.col-sm-offset-1
            %section.navbar-header
              %button.navbar-toggle
                .collapsed{ type: 'button', data: { toggle: 'collapse', target: '#foody-navbar-collapse'  } }
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
              = link_to 'Navigation', root_path, class: 'navbar-brand'
          .col-sm-5
            .collapse.navbar-collapse#foody-navbar-collapse
              %ul.nav.navbar-nav
                %li= link_to 'Welcome', "#{root_path}#welcome_anchor", class: 'nopadding'
                %li= link_to 'Address', "#{root_path}#address_anchor"
                %li= link_to 'Menu', "#{root_path}#menu_anchor"
                %li= link_to 'Contact', "#{root_path}#contact_anchor"
                %li= link_to 'Checkout', orders_path