%section.navbar-fixed-top
  %section#topline
    .container.narrow
      .row
        .col-sm-6
          %i.fa.fa-phone.fa-fw
          030 / 983 282 81
        .col-sm-6.text-right.text-left-xs
          %i.fa.fa-home.fa-fw
          Schönhauser Allee 156, 10435 Berlin
  %section#navigation.clearfix
    %nav.navbar.navbar-custom{ role: 'navigation' }
      .container.narrow
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse'  }  }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Pizza alla grande Berlino', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right{ style: 'min-width: 50%' }
            - if current_page?(order_path)
              %li= link_to 'Home', root_path
              %li.active= link_to 'Bestellung', order_path
            - elsif current_page?(imprint_path)
              %li= link_to 'Home', root_path
              %li.active= link_to 'Impressum', imprint_path
            - elsif current_page?(order_finished_path)
              %li= link_to 'Home', root_path
              %li.active= link_to 'Bestellbestätigung', order_finished_path
            - else
              %li.active= link_to 'Home', '#home_anchor'
              %li= link_to 'Speisekarte', "#menu_anchor"
              %li= link_to 'Kontakt', "#contact_anchor"
            %li.pull-right.pull-left-xs
              %button.btn.btn-danger.nav-button.show_postal{ type: :button }
                Bestellen
