%table.table.borderless
  %thead
    %tr
      %th Nummer
      %th Name
      %th Beschreibung
  %tbody
    - category.each do |food|
      %tr
        %td= food.order_number
        %td= food.name
        %td
          = food.description
          %section.prices
          %br
            = form_for order_item, class: 'form-inline', remote: true, html: { id: "order_item_form_#{food.id}" } do |f|
              = f.hidden_field :food_id, :value => food.id
              //- if food.prices.length > 1
              //  .row
              //    .col-sm-2
              //      %label Größe:
              //    .col-sm-8
              //      - food.prices.each do |price|
              //        = f.radio_button :price, price.size, 'data-price-value' => price.value, :checked => true
              //        = f.label :price, price.size
              .row
                .col-sm-2
                  %label Anzahl:
                .col-sm-6
                  = f.number_field :quantity, value: 1, class: 'quantity', min: 1
                .col-sm-1
                  %label Preis:
                .col-sm-1{ data: { subtotal_price: true } }
                  = food.prices.last.value / 100.to_f
              %br
              = f.submit 'In den Warenkorb', class: 'btn btn-info'
