- unless category.nil?
  - category.each do |food|
    %br
    .row
      .col-sm-4.col-xs-12
        .thumbnail
          = image_tag "#{food.thumbnail.url(:thumb)}"
      .col-sm-8.col-xs-12
        = form_tag '/order_items', remote: true, class: 'new_order_item', data: { id: "#{food.id}" } do
          .row
            .col-md-2
              %h4= food.order_number
            .col-md-10
              %h4= food.name
          .row
            .col-md-12
              = food.description
          %br
          .row
            - if food.extras.any?
              .col-lg-4.col-md-6.col-sm-6.col-xs-6
                %button{type: 'button', class: 'btn btn-default show_extras', name: 'show_extras', data: { id: food.id} }
                  Extras
                  %i.fa.fa-caret-down
            .col-lg-4.col-md-6.col-sm-6.col-xs-6
              - if food.prices.length > 1
                %select{ class: 'form-control', name:'price_id' }
                  - food.prices.each do |price|
                    = content_tag(:option, price.size, value: price.id, data: {unit_price: price.value} )
              - else
                %input{ type: :hidden, name: :price_id,
                value: food.prices.first.id, data: { unit_price: food.prices.first.value } }
            .col-lg-4.col-md-6.col-sm-6.col-xs-6
          %br
          %div{ id: "toggle_extras_#{ food.id }" }
          .row
            .col-lg-4.col-md-6.col-sm-6.col-xs-6
              .display_price
                = number_to_currency(food.prices.first.value.to_f/100, locale: :eu, separator: '.')
            .col-lg-4.col-md-6.col-sm-6.col-xs-6
              .change_quantity{ data: { plus_minus_input: true } }<
                = submit_tag "-", type: 'button', class: 'btn btn-default flattened'
                = text_field_tag 'order_item[quantity]', 'order_item[quantity]', class: 'form-control flattened', readonly: 'readonly',value: 1
                = submit_tag "+", type: 'button', class: 'btn btn-default flattened slim_margin'
            .col-lg-4.col-md-6.col-sm-6.col-xs-6.pull-right
              %button{type:'submit', class: 'btn btn-xs btn-danger add_to_cart'}
                %h6 In Warenkorb
    = content_tag('hr') unless food == category.last
