.well
  %h3
    %b Speisekarte
%section#menu
  %ul.nav.nav-pills.well
    %li.active
      %a{ href: '#pizza', data: { toggle: 'pill' } } Pizza
    %li
      %a{ href: '#main_course', data: { toggle: 'pill' } } Pasta
    %li
      %a{ href: '#salad', data: { toggle: 'pill' } } Salate
    %li
      %a{ href: '#dessert', data: { toggle: 'pill' } } Desserts
    %li
      %a{ href: '#drink', data: { toggle: 'pill' } } Getränke
  .tab-content.well.less_margin
    %section.tab-pane.active#pizza
      = render partial: 'shared/category', locals: { category: @categories[0] }
    %section.tab-pane#main_course
      = render partial: 'shared/category', locals: { category: @categories[1] }
    %section.tab-pane#salad
      = render partial: 'shared/category', locals: { category: @categories[2] }
    %section.tab-pane#dessert
      = render partial: 'shared/category', locals: { category: @categories[3] }
    %section.tab-pane#drink
      = render partial: 'shared/drink_menu', locals: { groups: @grouped_drinks.values }
