%section#order
  Order
  .row
    .col-sm-7.col-sm-offset-1
      %section#menu_details
        %h3 Speisekarte
        %br
        %ul.nav.nav-pills.well
          %li.active
            %a{ href: '#pizza', data: { toggle: 'pill' } } Pizza
          %li
            %a{ href: '#main_course', data: { toggle: 'pill' } } Nudelgerichte
          %li
            %a{ href: '#salad', data: { toggle: 'pill' } } Salate
          %li
            %a{ href: '#dessert', data: { toggle: 'pill' } } Desserts
          %li
            %a{ href: '#drink', data: { toggle: 'pill' } } Getränke
        .tab-content.well
          %section.tab-pane.active#pizza
            = render partial: 'shared/order_category', locals: { category: @categories[0], order_item: @order_item }
          %section.tab-pane#main_course
            = render partial: 'shared/order_category', locals: { category: @categories[1], order_item: @order_item }
          %section.tab-pane#salad
            = render partial: 'shared/order_category', locals: { category: @categories[2], order_item: @order_item }
          %section.tab-pane#dessert
            = render partial: 'shared/order_category', locals: { category: @categories[3], order_item: @order_item }
          %section.tab-pane#drink
            = render partial: 'shared/order_category', locals: { category: @categories[4], order_item: @order_item }
    .col-sm-3
      %section#shopping-cart
        %h3
          Warenkorb
          = "(#{current_order.order_items.count})"
        %br
        %section.well
          #cart-text
