= bootstrap_nested_form_for current_order, url: { action: :update, controller: :orders },
  autocomplete: :off,
  data: { shadow_input: true } do |f|
  %h4.cart_title
    Warenkorb
    %span#cart_items_count
      = "(#{current_order.order_items.count})"
  = render 'shared/messages'
  %br
  %h6.sub_heading
    %b Ihre Auswahl
  %hr
  - if current_order.order_items.blank?
    %p
      Ihr Warenkorb ist zur Zeit leer.
  - else
    = f.fields_for :order_items, f.object.order_items.order(created_at: :asc) do |oif|
      - item = oif.object

      .cart_row
        .row
          .col-sm-2.col-xs-2.align-field
            = oif.text_field :quantity, hide_label: true, class: 'form-control-center cart_quantity', data: { id: item.id }
          .col-sm-7.col-xs-5.item_name
            %h6
              #{item.order_number} #{item.name}
              %br
              (#{item.size})
          .col-sm-3.col-xs-5.text-right
            = link_to order_item_path(item), method: :delete, remote: true, data: {confirm: 'Möchten Sie das Produkt wirklich aus dem Warenkorb löschen?' } do
              %i.fa.fa-times.btn.btn-primary.btn-xs.align-button

        - if item.extras.any?
          .row
            .col-sm-7.col-sm-offset-2
              %h6= 'Extras: ' + item.extras.pluck(:name).join(', ')

        .row
          .col-sm-9.col-sm-offset-2
            %h6
              #{number_to_currency(item.total_price.to_f/100, locale: :eu, separator: '.')}
              - if current_order.multiple_vats?
                %sup.text-muted
                  (#{item.vat/100} % MwSt.)
        %hr
    - if current_order.delivery_type == 'delivery'
      .cart_row
        .row
          .col-sm-7.item_name.col-sm-offset-2
            %h6
              Lieferkosten
        .row
          .col-sm-9.col-sm-offset-2
            %h6
              2.00 €
              %sup.text-muted
                (19 % MwSt.)
      %hr
    %section#additional_info
      - if current_order.discount
        .row
          .col-sm-10.col-sm-offset-2
            %h6.nowrap= current_order.discount.to_s + ' % Rabatt'
        .row
          .col-sm-9.col-sm-offset-2
            %h6
              #{number_to_currency((current_order.total_price(discount: false).to_f/100 * current_order.discount/100), locale: :eu, separator: '.')}
      %hr
      %br
    %section#delivery_mode
      %h6.sub_heading
        %b Lieferung
      %hr
      .row
        .col-sm-12
          - Order.delivery_types.each do |delivery_type, _|
            :ruby
              label =
                case delivery_type
                when 'pickup' then 'Selbstabholer'
                else 'Lieferservice'
                end
            = f.radio_button :delivery_type, delivery_type, label: label
          = render partial: 'shared/delivery_hours', locals: { f: f, hour_type: hour_type, delivery_values: delivery_values }
      %hr
    %section{ id: 'total_price', data: { total: "#{current_order.total_price}" } }
      .row
        .col-md-6
          %b.nowrap
            Summe:
            = number_to_currency(current_order.total_price.to_f/100, locale: :eu, separator: '.')
          %br
          %sup.text-muted
            - if current_order.multiple_vats?
              (inkl. #{number_to_currency(current_order.vat/100.0, locale: :eu, separator: '.')} MwSt.)
            - elsif !current_order.vat_list.blank?
              (inkl. #{current_order.vat_list.keys.first/100} % MwSt.)
        - if current_order.total_price < 1500
          .col-md-12.text-center
            %button.btn.btn-primary{ disabled: true }
              Mindestbestellwert ist 15.00 €
        - else
          .col-md-6
            %section#order_button
              %button.btn.btn-primary
                Bestellen
                %i.fa.fa-arrow-right
